<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="ISO-8859-1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
		<title>ChangePassword</title>
		<style>
		.gradient-custom {
background: #f093fb;
background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}
		</style>
	</head>
	<body>
		<header class="Heading">
        <img src="headerimg.jpg" alt="Sri Vasavi Engineering College" style="width: 100%;">
        </header>
        <section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" style="text-align:center;color:navy;">Change Password</h3>
		<form action="storepassword" method="post">
			<input type="text" th:value="${user}" name="user" style="display:none;"/>
			<div class="row" style="text-align:left">
				<div class="col-md-2"></div>
				<div class="col-md-3">
					<label for="oldp"><b>Old Password:</b></label>
				</div>
				<div class="col-md-4">
					<input type="text" name="oldp" id="oldp" class="form-control"/><br><br>
				</div>
			</div>
			<div class="row" style="text-align:left">
				<div class="col-md-2"></div>
				<div class="col-md-3">
					<label for="newp"><b>New Password:</b></label>
				</div>
				<div class="col-md-4">
					<input type="text" name="newp" id="newp" class="form-control"/><br><br>
				</div>
			</div>
			<div class="row" style="text-align:left">
				<div class="col-md-2"></div>
				<div class="col-md-3">
					<label for="confp"><b>Confirm Password:</b></label>
				</div>
				<div class="col-md-4">
					<input type="text" name="confp" id="confp" class="form-control"/><br><br>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4" align="center">
					<button style="border-radius: 5px;border:1px solid aliceblue;text-align: center;background-color:forestgreen;color:white;padding-top: 10px;padding-bottom: 10px;">Change</button>
				</div>
			</div>
			<br><br>
		</form>
		</div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
	</body>
</html>