<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width , initial-scale=1">
    <meta charset="ISO-8859-1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Registration Form</title>
    <style>
		 .hidden {
            display: none;
        }
        .count{
			display:none;
		}
        ul li {
            margin-left: 20px;
            list-style-type: none;
        }
        button {
            color: white;
            background: rgb(10, 139, 199);
            border-radius: 10px;
            height: 40px;
            width: 100px;
            border-color: blue;
        }
		#disp12 textarea,
        #disp12 input,
        #disp12 select {
            vertical-align: middle;
            margin-right: 20px;
            margin-bottom: 5px;
        }

        #disp13 textarea,
        #disp13 input,
        #disp13 select {
            vertical-align: middle;
            margin-right: 20px;
            margin-bottom: 5px;
        }

        #disp14 textarea,
        #disp14 input,
        #disp14 select {
            vertical-align: middle;
            margin-right: 20px;
            margin-bottom: 5px;
        }

        #disp15 textarea,
        #disp15 input,
        #disp15 select {
            vertical-align: middle;
            margin-right: 20px;
            margin-bottom: 5px;
        }

        #disp16 textarea,
        #disp16 input,
        #disp16 select {
            vertical-align: middle;
            margin-right: 20px;
            margin-bottom: 5px;
        }

        #disp17 textarea,
        #disp17 input,
        #disp17 select {
            vertical-align: middle;
            margin-right: 20px;
            margin-bottom: 5px;
        }

        #disp18 textarea,
        #disp18 input {
            vertical-align: middle;
            margin-right: 20px;
            margin-bottom: 5px;
        }

        #disp19 textarea,
        #disp19 input {
            vertical-align: middle;
            margin-right: 20px;
            margin-bottom: 5px;
        }

        #disp20 textarea,
        #disp20 input {
            vertical-align: middle;
            margin-right: 20px;
            margin-bottom: 5px;
        }
                .marquee p {
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            line-height: 50px;
            text-align: center;
            -moz-transform:translateX(100%);
            -webkit-transform:translateX(100%);	
            transform:translateX(100%);
            -moz-animation: scroll-left 1s linear infinite;
            -webkit-animation: scroll-left 1s linear infinite;
            animation: scroll-left 5s linear infinite;
         }
         @-moz-keyframes scroll-left {
            0%   { -moz-transform: translateX(100%); }
            100% { -moz-transform: translateX(-100%); }
         }
         @-webkit-keyframes scroll-left {
            0%   { -webkit-transform: translateX(100%); }
            100% { -webkit-transform: translateX(-100%); }
        }
        @keyframes scroll-left {
          0%   { 
                 -moz-transform: translateX(100%); /* Browser bug fix */
                 -webkit-transform: translateX(100%); /* Browser bug fix */
                 transform: translateX(100%); 		
               }
          100% { 
                  -moz-transform: translateX(-100%); /* Browser bug fix */
                  -webkit-transform: translateX(-100%); /* Browser bug fix */
                   transform: translateX(-100%); 
               }
        }


	</style>
</head>
<body  style="background-color:azure;">
    <div>
        <header class="Heading">
            <img src="headerimg.jpg" alt="Sri Vasavi Engineering College" style="width:100%;">
        </header><hr>
        <h2 style="text-align:center">Application for the Award of the Best Outgoing Student</h2>
        <div class="container " style="border:1px solid black; border-radius:10px; margin-top:40px; margin-bottom:40px; background-color:white">
            <br>
            <form action="storeextracircular" method="POST" enctype="multipart/form-data">
				<input type="text" th:value="${user}" name="roll" style="display:none;"/>
                <h2 style="text-align:center; text-decoration:underline;">C. Extra-curricular Activities (Maximum 15 Marks*)
            </h2>
            <i style="text-align:center; display: block;">[Sports, Dance, Music, General Quiz, Short Film etc.]</i>
            <hr>
            <br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h5>a. Selection in University Team:</h5>
                    <ol>
                        <li><b>1.Individual (3 Marks)</b></li>
                        <li><b> 2.Group (2 Marks)</b></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <input type="radio" value="Yes" id="Yes12" name="eca1" />
                    <label for="Yes12" style="padding-right:20px;">Yes</label>
                    <input type="radio" value="No" id="No12" name="eca1" />
                    <label for="No12">No</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div id="disp12" class="col-md-10 hidden">
					<input type="text" value="1" id="b1" name="b1" placeholder="1" class="count"/>
                    <b style="margin-right:70px;">Event</b>
                    <b style="margin-left:80px;">Participation</b><br>
                    <textarea id="txtsutev" name="sutev1" placeholder="Enter the Event"></textarea>
                    <select name="evtyp1" id="sutevtyp">
                        <option value="">Select</option>
                        <option value="Individual">Individual</option>
                        <option value="Group">Group</option>
                    </select>
                    <button type="button" id="btn10" onclick="add11()" title="Click here to Add a Section">ADD More</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h5>b. Outside the College</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <b style="margin-left:40px; text-decoration: underline;">I/II Prize Won</b>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-2"></div>
                <div id="disp13" class="col-md-10">
					<input type="text" value="1" id="b2" name="b2" placeholder="1" class="count"/>
                    <b style="margin-right:70px;">Event</b>
                    <b style="margin-left:80px;">Prize Won</b>
                    <b style="margin-left:10px;">Participated As</b><br>
                    <textarea id="txtocev" name="ocev1" placeholder="Enter the Event"></textarea>
                    <select name="ocpr1" id="ocprize">
                        <option value="">Select</option>
                        <option value="I Prize">I prize</option>
                        <option value="II Prize">II prize</option>
                    </select>
                    <select name="ocpty1" id="ocpty">
                        <option value="">Select</option>
                        <option value="Individual">Individual</option>
                        <option value="Group">Group</option>
                    </select>
                    <button type="button" id="btn11" onclick="add12()" title="Click here to Add a Section">ADD More</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <b style="margin-left:40px; text-decoration: underline;">Participation</b>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-2"></div>
                <div id="disp14" class="col-md-10">
					<input type="text" value="1" id="b3" name="b3" placeholder="1" class="count"/>
                    <b style="margin-right:70px;">Event</b><br>
                    <textarea id="txtocpev" name="ocpev1" placeholder="Enter the Event"></textarea>
                    <button type="button" id="btn12" onclick="add13()" title="Click here to Add a Section">ADD More</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h5>c. Within the College(I/II Prize Won)</h5>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-2"></div>
                <div id="disp15" class="col-md-10">
					<input type="text" value="1" id="b4" name="b4" placeholder="1" class="count"/>
                    <b style="margin-right:70px;">Event</b>
                    <b style="margin-left:80px;">Prize Won</b>
                    <b style="margin-left:10px;">Participated As</b><br>
                    <textarea id="txticev" name="icev1" placeholder="Enter the Event"></textarea>
                    <select name="icpr1" id="icprize">
                        <option value="">Select</option>
                        <option value="I Prize">I prize</option>
                        <option value="II Prize">II prize</option>
                    </select>
                    <select name="icpty1" id="icpty">
                        <option value="">Select</option>
                        <option value="Individual">Individual</option>
                        <option value="Group">Group</option>
                    </select>
                    <button type="button" id="btn13" onclick="add14()" title="Click here to Add a Section">ADD More</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <h5>d.Tech Fest Coordinator:</h5>
                </div>
                <div class="col-md-5">
					<ul>
                        <li><b>College Level (2 Marks)</b></li>
                        <li><b>Dept. Level (1 Mark)</b></li>
                    </ul>
				</div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div id="disp16" class="col-md-10">
					<input type="text" value="1" id="b5" name="b5" placeholder="1" class="count"/>
                    <b style="margin-right:70px;">Occasion</b>
                    <b style="margin-left:80px;">Level</b><br>
                    <textarea id="txtteev" name="teev1" placeholder="Enter the Occasion of Tech Fest"></textarea>
                    <select name="tele1" id="techle">
                        <option value="">Select</option>
                        <option value="College">College</option>
                        <option value="Dept.">Dept.</option>
                    </select>
                    <button type="button" id="btn14" onclick="add15()" title="Click here to Add a Section">ADD More</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <h5>e. Any other Coordinator:</h5>
                </div>
                <div class="col-md-5">
					<ul>
                        <li><b>College Level (2 Marks)</b></li>
                        <li><b>Dept. Level (1 Mark)</b></li>
                    </ul>
				</div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div id="disp17" class="col-md-10">
					<input type="text" value="1" id="b6" name="b6" placeholder="1" class="count"/>
                    <b style="margin-right:70px;">Occasion</b>
                    <b style="margin-left:80px;">Level</b><br>
                    <textarea id="txtacev" name="acev1" placeholder="Enter the Occasion of the Event"></textarea>
                    <select name="acle1" id="anycle">
                        <option value="">Select</option>
                        <option value="College">College</option>
                        <option value="Dept.">Dept.</option>
                    </select>
                    <button type="button" id="btn15" onclick="add16()" title="Click here to Add a Section">ADD More</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <h5>f. Committee Member (1 Mark per committee):</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div id="disp18" class="col-md-10">
					<input type="text" value="1" id="b7" name="b7" placeholder="1" class="count"/>
                    <b style="margin-right:70px;"> About Committee</b><br>
                    <textarea id="txtcm" name="cm1" placeholder="Enter about the committee"></textarea>
                    <button type="button" id="btn16" onclick="add17()" title="Click here to Add a Section">ADD More</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <h5>g. Participation in NSS / Blood Donation/ Other Social Service Activity(Max. 2 Marks)</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div id="disp19" class="col-md-10">
					<input type="text" value="1" id="b8" name="b8" placeholder="1" class="count"/>
                    <b style="margin-right:70px;"> About Activitiy</b><br>
                    <textarea id="txtssa" name="ssa1" placeholder="Enter about the Activity"></textarea>
                    <button type="button" id="btn17" onclick="add18()" title="Click here to Add a Section">ADD More</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <h5>h. Awards /any other significant contributions(Max. 2 Marks)</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div id="disp20" class="col-md-10">
					<input type="text" value="1" id="b9" name="b9" placeholder="1" class="count"/>
                    <b style="margin-right:50px;"> Award/Contribution</b><br>
                    <textarea id="txtaac" name="aac1" placeholder="Enter about the Award/Contribution"></textarea>
                    <button type="button" id="btn18" onclick="add19()" title="Click here to Add a Section">ADD More</button>
                </div>
            </div>
            <br>
                   <h5 id="blink" style="color:lime;text-align: center;">Please make the PDF of above mentioned activities certificates in an order you have mentioned them in the form and upload the PDF</h5>
                  <br>
            <br>
            <div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-3">
					<b>(Size upto 1 MB only)</b>
				</div>
			</div>
            <div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-1">
					<input type="file" name="extrafile" id="exfile" onchange="validateFile1()"/>
				</div>
			</div>
            <br><br><hr>
            <h2 style="text-align:center; text-decoration: underline;">DECLARATION</h2>
            <br>
            <p style="text-align:center;"><b>I hereby declare that all the details furnished above are true upto my
                    knowledge. I will forfeit the award if I furnish wrong information.</b></p>
            <br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <ul>
                        <li>Place:<input type="text" name="place" required/></li>
                        <li>Date:<input type="text" placeholder="DD-MM-YYYY" name="date" required/></li>
                    </ul>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <b>Signature of the Student(Size upto 50 KB only)</b>
                    <input type="file" name="sigfile" id="signfile" onchange="validateFile2()"/>
                </div>
            </div>
            <br>
            <div>
				<p id="high" style="color:red;text-align:center;">Note:Once you submit the form you are unable to edit the details!</p>
			</div>
            <div style="text-align:right">
				<button  type="submit" name="action" value="save" style="background-color: forestgreen; color: white; border-color: aliceblue; border-radius: 5px;" onClick="alert('Successfully Saved');" title="Click here to Save Your Form">Save</button>
                <button  type="submit" name="action" value="submit" style="background-color: dodgerblue; color: white; border-color: aliceblue; border-radius: 5px;" onClick="alert('Successfully Submitted');" title="Click here to Submit Your Form">Submit</button>
            </div>
            <br>
            </form>
        </div>
    </div>
    <script>
		const yes12 = document.getElementById("Yes12");
        const no12 = document.getElementById("No12");
        const disp12 = document.getElementById("disp12");
        var a = 1;
        yes12.addEventListener("change", function () {
            if (yes12.checked) {
                disp12.style.display = "inline-block";
            } else {
                disp12.style.display = "none";
            }
        });
        no12.addEventListener("change", function () {
            if (no12.checked) {
                disp12.style.display = "none";
            }
        });
        function add11() {
            const newar10 = document.createElement("div");
            a++;
            var e1=document.getElementById("b1");
            e1.setAttribute("value",a);
            e1.setAttribute("placeholder",a);
            newar10.classList.add("disp12");
            const sutev = document.createElement("textarea");
            sutev.setAttribute('name', 'sutev' + a);
            sutev.setAttribute('placeholder', 'Enter the Event');
            const evtyp = document.createElement("select");
            evtyp.setAttribute('name', 'evtyp' + a);
            const option1 = document.createElement("option");
            option1.value = '';
            option1.text = 'Select';
            evtyp.appendChild(option1);
            const option2 = document.createElement("option");
            option2.value = 'Individual';
            option2.text = 'Individual';
            evtyp.appendChild(option2);
            const option3 = document.createElement("option");
            option3.value = 'Group';
            option3.text = 'Group';
            evtyp.appendChild(option3);
            newar10.appendChild(sutev);
            newar10.appendChild(evtyp);
            disp12.appendChild(newar10);
        }
        var b = 1;
        function add12() {
            const newar11 = document.createElement("div");
            b++;
            var e2=document.getElementById("b2");
            e2.setAttribute("value",b);
            e2.setAttribute("placeholder",b);
            newar11.classList.add("disp13");
            const ocev = document.createElement("textarea");
            ocev.setAttribute('name', 'ocev' + b);
            ocev.setAttribute('placeholder', 'Enter the Event');
            const ocpr = document.createElement("select");
            ocpr.setAttribute('name', 'ocpr' + b);
            const option1 = document.createElement("option");
            option1.value = '';
            option1.text = 'Select';
            ocpr.appendChild(option1);
            const option2 = document.createElement("option");
            option2.value = 'I Prize';
            option2.text = 'I Prize';
            ocpr.appendChild(option2);
            const option3 = document.createElement("option");
            option3.value = 'II Prize';
            option3.text = 'II Prize';
            ocpr.appendChild(option3);
            const ocpty = document.createElement("select");
            ocpty.setAttribute('name', 'ocpty' + b);
            const opt1 = document.createElement("option");
            opt1.value = '';
            opt1.text = 'Select';
            ocpty.appendChild(opt1);
            const opt2 = document.createElement("option");
            opt2.value = 'Individual';
            opt2.text = 'Individual';
            ocpty.appendChild(opt2);
            const opt3 = document.createElement("option");
            opt3.value = 'Group';
            opt3.text = 'Group';
            ocpty.appendChild(opt3);
            newar11.appendChild(ocev);
            newar11.appendChild(ocpr);
            newar11.appendChild(ocpty);
            disp13.appendChild(newar11);
        }
        var c = 1;
        function add13() {
            c++;
            const newar12 = document.createElement("div");
            var e3=document.getElementById("b3");
            e3.setAttribute("value",c);
            e3.setAttribute("placeholder",c);
            newar12.classList.add("disp11");
            const ocpev = document.createElement("textarea");
            ocpev.setAttribute('name', 'ocpev' + c);
            ocpev.setAttribute('placeholder', 'Enter the Event');
            newar12.appendChild(ocpev);
            disp14.appendChild(newar12);
        }
        var d = 1;
        function add14() {
            const newar13 = document.createElement("div");
            d++;
            var e4=document.getElementById("b4");
            e4.setAttribute("value",d);
            e4.setAttribute("placeholder",d);
            newar13.classList.add("disp13");
            const icev = document.createElement("textarea");
            icev.setAttribute('name', 'icev' + d);
            icev.setAttribute('placeholder', 'Enter the Event');
            const icpr = document.createElement("select");
            icpr.setAttribute('name', 'icpr' + d);
            const option1 = document.createElement("option");
            option1.value = '';
            option1.text = 'Select';
            icpr.appendChild(option1);
            const option2 = document.createElement("option");
            option2.value = 'I Prize';
            option2.text = 'I Prize';
            icpr.appendChild(option2);
            const option3 = document.createElement("option");
            option3.value = 'II Prize';
            option3.text = 'II Prize';
            icpr.appendChild(option3);
            const icpty = document.createElement("select");
            icpty.setAttribute('name', 'ocpty' + d);
            const opt1 = document.createElement("option");
            opt1.value = '';
            opt1.text = 'Select';
            icpty.appendChild(opt1);
            const opt2 = document.createElement("option");
            opt2.value = 'Individual';
            opt2.text = 'Individual';
            icpty.appendChild(opt2);
            const opt3 = document.createElement("option");
            opt3.value = 'Group';
            opt3.text = 'Group';
            icpty.appendChild(opt3);
            newar13.appendChild(icev);
            newar13.appendChild(icpr);
            newar13.appendChild(icpty);
            disp15.appendChild(newar13);
        }
        var e = 1;
        function add15() {
            const newar14 = document.createElement("div");
            e++;
            var e5=document.getElementById("b5");
            e5.setAttribute("value",e);
            e5.setAttribute("placeholder",e);
            newar14.classList.add("disp16");
            const teev = document.createElement("textarea");
            teev.setAttribute('name', 'teev' + e);
            teev.setAttribute('placeholder', 'Enter the Occasion of the Tech Fest');
            const tele = document.createElement("select");
            tele.setAttribute('name', 'tele' + e);
            const option1 = document.createElement("option");
            option1.value = '';
            option1.text = 'Select';
            tele.appendChild(option1);
            const option2 = document.createElement("option");
            option2.value = 'College';
            option2.text = 'College';
            tele.appendChild(option2);
            const option3 = document.createElement("option");
            option3.value = 'Dept.';
            option3.text = 'Dept.';
            tele.appendChild(option3);
            newar14.appendChild(teev);
            newar14.appendChild(tele);
            disp16.appendChild(newar14);
        }
        var f = 1;
        function add16() {
            const newar15 = document.createElement("div");
            f++;
            var e6=document.getElementById("b6");
            e6.setAttribute("value",f);
            e6.setAttribute("placeholder",f);
            newar15.classList.add("disp17");
            const acev = document.createElement("textarea");
            acev.setAttribute('name', 'acev' + f);
            acev.setAttribute('placeholder', 'Enter the Occasion of Event');
            const acle = document.createElement("select");
            acle.setAttribute('name', 'acle' + f);
            const option1 = document.createElement("option");
            option1.value = '';
            option1.text = 'Select';
            acle.appendChild(option1);
            const option2 = document.createElement("option");
            option2.value = 'College';
            option2.text = 'College';
            acle.appendChild(option2);
            const option3 = document.createElement("option");
            option3.value = 'Dept.';
            option3.text = 'Dept.';
            acle.appendChild(option3);
            newar15.appendChild(acev);
            newar15.appendChild(acle);
            disp17.appendChild(newar15);
        }
        var g = 1;
        function add17() {
            const newar16 = document.createElement("div");
            g++;
            var e7=document.getElementById("b7");
            e7.setAttribute("value",g);
            e7.setAttribute("placeholder",g);
            newar16.classList.add("disp18");
            const cm = document.createElement("textarea");
            cm.setAttribute('name', 'cm' + g);
            cm.setAttribute('placeholder', 'Enter about the committee');
            newar16.appendChild(cm);
            disp18.appendChild(newar16);
        }
        var j = 1;
        function add18() {
            const newar17 = document.createElement("div");
            j++;
            var e8=document.getElementById("b8");
            e8.setAttribute("value",j);
            e8.setAttribute("placeholder",j);
            newar17.classList.add("disp19");
            const ssa = document.createElement("textarea");
            ssa.setAttribute('name', 'ssa' + j);
            ssa.setAttribute('placeholder','Enter about the Activity')
            newar17.appendChild(ssa);
            disp19.appendChild(newar17);
        }
        var i = 1;
        function add19() {
            const newar18 = document.createElement("div");
            i++;
            var e9=document.getElementById("b9");
            e9.setAttribute("value",i);
            e9.setAttribute("placeholder",i);
            newar18.classList.add("disp20");
            const aac = document.createElement("textarea");
            aac.setAttribute('name', 'aac' + i);
            aac.setAttribute('placeholder','Enter about the Award/Contribution');
            newar18.appendChild(aac);
            disp20.appendChild(newar18);
        }
        function validateFile1() {
            var fileInput = document.getElementById('exfile');
            var fileSize = fileInput.files[0].size; // in bytes
            var maxSize = 1 * 1024 * 1024;

            if (fileSize > maxSize) {
                alert('File size exceeds 1MB limit. Please choose a smaller file.');
                fileInput.value = ''; // Clear the selected file
            }
        }
        function validateFile2() {
            var fileInput = document.getElementById('signfile');
            var fileSize = fileInput.files[0].size; // in bytes
            var maxSize =50* 1024;

            if (fileSize > maxSize) {
                alert('File size exceeds 50 KB limit. Please choose a smaller file.');
                fileInput.value = ''; // Clear the selected file
            }
        }
        var blink = document.getElementById('blink'); 
        var high=document.getElementById('high');
        setInterval(function () { 
            blink.style.opacity = 
            (blink.style.opacity == 0 ? 1 : 0); 
        }, 750);
        setInterval(function () { 
            high.style.opacity = 
            (high.style.opacity == 0 ? 1 : 0); 
        }, 750);
	</script>
</body>
</html>